main {
  color: #cc5500;
  padding: 200px;
  font-family: Arial;
  text-align: center;
  font-size: larger;
  font-weight: 900;
}
div {
  background: url("car.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}
footer {
  text-align: center;
}

/* .mask1 {
    -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
    mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
  } */
