main {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.carmagazine.co.uk%2Ffeatures%2Fcar-culture%2F2016%2Fa-year-in-photos-car-magazines-best-2016-pictures%2F&psig=AOvVaw0so-xLpCPVxY7C1ymAIVPo&ust=1646167802113000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLDCzJGjo_YCFQAAAAAdAAAAABAD') ;
}

/* .mask1 {
    -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
    mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
  } */
  
